
/*Google fonts import - Josefin Sans and Karla*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


/*
  ========================================
  Custom styles
  ========================================
*/

html{
    font-size: 16px;
}

@media only screen and (max-width: 800px){
    p{
        font-size: 0.8rem;
    }
}

body{
    font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #913b80;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

a:hover {
    color: #00b171;
}

nav li{
    padding-left: 20px;
}

h1{ 
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size:1.25rem;
}

h6{
    font-size: 1rem;
}

p{
    font-size: 1.25rem ;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}


/*
  ========================================
  Clearfix - to contain floats
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

body{
    width: 100vw;
    height: auto;
}


.bg-container{
    height:100vh;
    width: 100vw;
    background-image: url(../images/bannerImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*
==========================
Horizontal cards
==========================
*/

.horizontal-card{
    width: 60%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    flex-direction: row;
    border: 1px solid #913b80;
    box-shadow: 1px 1px 8px black;
}

.horizontal-card img{
    max-width: 40%;
    max-height: 300px;
    margin: 10px;
    border: 2px solid #00b171;
}

.horizontal-card .card-text {
    max-width: 60%;
    padding: 15px;
}

.horizontal-card h4{
    margin-bottom: 20px;
    color: #00b171;
}

.horizontal-card p{
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px){

    .horizontal-card{
        flex-direction: column;
        height: 580px;
    }

    .horizontal-card img{
        max-width: 60%;
    }

    .horizontal-card .card-text{
       max-width: 90%;
    }

    .horizontal-card h4{
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    .horizontal-card p{
        font-size: 1rem;
        margin-bottom: 10px;
    }

}

/*
==========================
Vertical cards
==========================
*/

.vertical-card {
    width: 65%;
    height: 400px;
    border: 1px solid #913b80;
}

.vertical-card img{
    max-width: 90%;
    max-height:300px;
    margin: 10px;
}

.vertical-card .card-text{
    width: 65%;
    padding: 15px;
}

.vertical-card h4{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.vertical-card p{

    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*
  ========================================
  Header
  ========================================
*/

/*Header*/

header{
    height: 15vh; 
    text-align: center;
}

.logo{
    height: 50%;
    margin-top: 4px;
}

.primary-nav{
    
    font-family: 'Karla', sans-serif;
}


.primary-nav .desktop-view li{
    display: inline-block;
    text-align: center;
    padding: 15px ;
}

.menu-icon{

    position: absolute;
    top: 40px;
    right: 30px;
    display: none;
    width: 26px;

}

#primary-nav-mobile-view{
    display: none;
}

/* Mobile view - Primary navigation*/

@media only screen and (max-width: 800px){

    .logo{
        float: left;
    }

    .primary-nav .desktop-view {
        display: none;
    }

    .menu-icon{
        display: block;
    }

    #primary-nav-mobile-view{
        display: block;
        height: 100%;
        width: 0;
        overflow: hidden;
        position: absolute;
        top:0;
        right: 0;
        background-color: #00b170d0;
        text-align: right;
        z-index: 2;
        transition: width, 500ms;
    }
    
    .close-icon{
        width: 26px;
        margin: 30px 30px;
        }

    #primary-nav-mobile-view li{

        padding: 20px;

    }

    #primary-nav-mobile-view li a{
        font-size: 1.2rem;
        color: white;
        
    }

    #primary-nav-mobile-view li a:hover{
        color: black;
    }

}


/*Section Hero*/

.hero{
    height: 80vh;
    position: relative;
}

.hero h1{
    position: absolute;
    bottom: 30%;
    right: 8%;
    width: 55vh;
    text-align: right;

    font-family: 'Josefin Sans', serif;
    color: white;
    line-height: 1.35;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.hero h1 span{
    color: yellow;
    font-size: 3rem;
}

.hero button{
    position: absolute;
    bottom: 18%;
    right:8%;

    background-color: #00b171;
    box-shadow: none;
    border:none;
    border-radius: 5px;
    padding: 10px 30px;
}

button a{
    color: white;
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

/* Mobile view - Hero section*/

@media only screen and (max-width: 800px){

    .hero h1{
        font-size: 1.5rem;
    }

    .hero h1 span{
        font-size: 2.2rem;
    }

}

/*Footer*/

footer{

    height: 5vh;
    line-height: 5vh;
}

footer small{
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
}

/*
  ========================================
  Subpages
  ========================================
*/

.banner-wrapper {

    background-image: linear-gradient(to bottom right, rgb(217, 230, 109), rgb(115, 230, 230));    
    height: 80vh;
    width: 100%;
}


.banner-img{
    max-width: 80%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

.hero h2{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color:#6e1a5e;
}

.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

}

/*
  ========================================
  Portfolio page
  ========================================
*/

.design-subsection {

    text-align: center;
    padding: 30px 0;
    width: 100%;

}

.design-subsection h3 {
    padding: 20px;
    color: #913b80;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
}

.design-overview {

    height: fit-content;
    width: 80%;
    margin: 50px auto;
    border: 1px solid #00b171;
    box-shadow: 1px 1px 8px gray;
    padding: 20px;
}

.design-overview img{
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

.design-overview h4 {
    padding: 20px;
    color: #00b171;
    font-weight: 700;
    text-transform: uppercase;

}

.design-overview p {
    padding: 15px;

}

.design-overview a {

    display: inline-block;
    background-color:#913b80;
    padding: 18px;
    color: white;
    text-transform: uppercase;
    font-family: 'Josefin Sans', serif;
    box-shadow: 1px 1px 6px gray;
  
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.image-grid img{
   flex: 20%;
   padding: 10px;
   max-width:19%;
   object-fit: contain;
   border: 1px solid gainsboro;
   box-shadow: 1px 1px 6px gray;
   margin: 8px auto;
}


@media only screen and (max-width: 800px){
    .image-grid img{
        flex: 20%;
        max-width: 80%;
        height: 300px;
        object-fit: contain;
        padding: 30px 20px;
    }  
}

/*
  ========================================
  About Me page
  ========================================
*/


.aboutme-banner{
    width: 100vw;
    height: auto;
    background-color: rgb(14, 14, 14);
}

.profile-section {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 30px;
}

.profile-section img{
    width: 20%;
    display: block;
}
.profile-section .profile-text{
    display: block;
    width: 60%;
    padding: 30px;
}

p .hobby-text{
    color: #57ffc1;
}

p .past-exp-text{
    color:  #00b171;
}

.profile-section h2 {
    color: #913b80;
    font-weight: 500; 
    padding: 20px 0;  
}

.profile-section p{
    font-family: 'Josefin Sans',serif;
    color: #cdffed;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.5 ;
}

@media only screen and (max-width: 800px){
    .profile-section{
        flex-direction: column;
    }

    .profile-section img{
        width: 50%;
    }

    .profile-section .profile-text{
        width: 95%;
        text-align: center;
    }
}

/*
  ========================================
  Article page
  ========================================
*/

.article-content{

    margin: 20px auto;
    padding: 5px;
    text-align: center;
    width: 90%;
}

.article-content img{
    width: 60%;
    margin: 10px auto;
}

.article-content h3{

    padding: 20px;

}


/*
  ========================================
  Blog page
  ========================================
*/
/* BLOG PAGE LAYOUT */
.blog-layout {
  display: flex;
  gap: 60px;
  max-width: 1100px;
  margin: 60px auto;
}

.blog-sidebar {
  width: 260px;
}

.blog-sidebar-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.blog-sidebar-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.tag-cloud-link {
  display: inline-block;
  padding: 6px 12px;
  margin: 6px 6px 0 0;
  background: #f3eef7;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #6a3ea1;
}

.blog-content {
  flex: 1;
  max-width: 720px;
}

.blog-content-title {
  font-size: 48px;
  margin-bottom: 40px;
}

/* BLOG LIST PAGE */
.blog-content > div {
  margin-bottom: 55px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.blog-content-title,
.blog-content-strong {
  color: #7a2d91;
}

.blog-content-meta {
  color: #666;
  font-size: 14px;
}

.post-card {
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.post-card-title {
  margin-bottom: 5px;
}

.post-card-content {
  margin-top: 8px;
  color: #444;
  line-height: 1.6;
}

.read-more-link {
  display: inline-block;
  margin-top: 6px;
  color: #7a3aa5;
  text-decoration: none;
  font-weight: 500;
}

.read-more-link:hover {
  text-decoration: underline;
}

.top-nav {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 18px;
}

.top-nav-link {
  margin: 0 18px;
  text-decoration: none;
  color: #7a2d91;
  font-weight: 500;
}

.top-nav-link:hover {
  text-decoration: underline;
}

