
/*Google fonts import - Laila and Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');



/*
  ========================================
  Custom styles
  ========================================
*/

html{
    font-size: 16px;
}

*{
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
}

body{
    font-family: 'Mulish', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Merriweather', serif;
}

a{
    text-decoration: none;
    color: #1d2c2a;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
}

nav li{
    padding-left: 10px;
}

h1{ 
    font-size: 2rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.17rem;
}
h4{
    font-size: 1rem;
}

h5{
    font-size:0.83rem;
}

h6{
    font-size: 0.75rem;
}


/*
  ========================================
  Clearfix - to contain floats
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
    width: 100vw;
    margin: 0 auto;
    padding: 0px 20px;
}

body{
    width: 100vw;
    height: auto;
}

/*
==========================
Horizontal cards
==========================
*/

.horizontal-card{
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    
    border: 1px solid grey;
}

.horizontal-card img{
    width: 35%;
    max-height: 380px;
    margin: 10px;
}

.horizontal-card .card-text {
    width: 65%;
    padding: 15px;
}

.horizontal-card h4{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.horizontal-card p{

    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*
  ========================================
  Home page
  ========================================
*/


.bg-container{
    height:100vh;
    background-image: url(../images/bannerImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Header*/

header{
    height: 80px; 
}

.logo{
    height: 80%;
    margin-top: 4px;
    float: left;
}

.primary-nav{
    float: right;
    padding-right: 5%;
    font-family: 'Mulish', sans-serif;
}

.primary-nav li{
    display: inline-block;
    text-align: center;
    line-height: 80px;
}


/*Section Hero*/

.hero{
    height: 80vh;
    position: relative;
}

.hero h1{
    position: absolute;
    bottom: 28%;
    right: 5%;
    width: 55vh;
    text-align: right;

    font-family: 'Merriweather', serif;
    color: white;
    line-height: 1.35;
    letter-spacing: 0.5px;
}

.hero h1 span{
    font-weight: 500;
    color: yellow;
    font-size: 2.5rem;
}

.hero button{
    position: absolute;
    bottom: 18%;
    right:5%;

    background-color: #00483a;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button a{
    color: white;
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

/*Footer*/

footer{

    height: auto;
    margin: 0 auto;
    line-height: 1.5;
}

footer small{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
}

/*
  ========================================
  Blog page
  ========================================
*/

.banner-img{
    max-height: 80%;
    display: block;
    margin: 0 auto;
}

.hero h2{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
}

.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

}

.banner-wrapper {

    background-image: linear-gradient(to bottom right, rgb(255, 238, 88), rgb(0, 255, 213));    

}

/*
  ========================================
  Portfolio page
  ========================================
*/

.design-subsection {

    text-align: center;
    margin: 30px 0;

}

.design-subsection h2 {
    padding: 20px;
    color: #913b80;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
}

.design-overview {

    height: fit-content;
    width: 80%;
    margin: 50px auto;
    border: 1px solid #00b171;
    padding: 20px;
}

.design-overview img{
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

.design-overview h3 {
    padding: 10px;
    color: #00b171;
    font-weight: 700;
    font-size: 1.5rem
}

.design-overview p {

    font-size: 1.2rem;
    padding: 10px;

}

.design-overview a {

    display: inline-block;
    background-color:#913b80;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
  
}

