
/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');



/*
====================================
CSS reset
====================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Clearfix - to contain floats
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Grid
  ========================================
*/

/*SETTING BOX SIZE : use the universal selector, *, along with universal pseudo-elements, *:before and *:after,
to select every imaginable element and change the box-sizing to border-box.  */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
  margin: 10px 100px ;
}

.grid {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);

}

.col-1-3 {
  width: 33%;
  padding:30px 10px;
}
.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  vertical-align: middle;
}



/*
  ========================================
  Typography
  ========================================
*/

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}


/*
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #00aa44;
}
a {
  color:  white;
  text-decoration: none;
}

/*
  ========================================
  Buttons
  ========================================
*/

/*common styling for all buttons*/
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  color: #00aa44;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: white;
}

.btn-alt {
  border: 0.2px solid #00aa44;
  padding: 1px 30px;

  text-transform: uppercase;
  font-weight: 700;
  
}

/*
  ========================================
  Home  - home page styles
  ========================================
*/


body {
  background-color: black;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px ;
  line-height: 22px ;
  
}

/* apply padding around all four sides of the <section> element. */
.hero {
  padding : 180px 30px ;
  line-height: 50px;
  color:white;
}

.bg-container{

  background-image: url(../images/bgImage2.png);
  background-repeat: no-repeat;
  background-size:cover; 

}

.hero h1{
  font-family: 'Raleway', sans-serif;
  line-height: 60px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #00aa44;
}

.teaser{
  border-right: .5px solid #00aa44;
  box-shadow: 0 8px 16px 0 rgba(59, 59, 59, 0.3);
  transition: 0.3s;
}

.teaser:last-child{
  border:none;
}

.teaser:hover {
  box-shadow: 8px 8px 16px 0px #00aa4465;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.teaser img{
  display:block; /* to align image center - use display block and margin center*/
  margin: auto;
  padding-bottom: 15px;
  width: 15%;

}

.teaser h3{
  color: #00aa44;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  
}

.teaser p{
  text-align: center;
  color: white;
}


/*
  ========================================
  Primary header
  ========================================
*/

header{
  margin-top: 30px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  height: 80%;
}

.primary-nav {
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-right: 30px;
}

.nav{
  text-align: right;
  width: fit-content;
  float: right;

}

.nav li{
  display:inline-block;
  padding: 0px 20px;
  border-right: 2px solid #00aa44;
}
.nav li:last-child{
  border: none;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  color: white;
}

.primary-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  text-transform: uppercase;
}
